button {
  padding: 20px;
  margin-right: 30px;
  background-color: unset;
  border-radius: 50%;
  font-family: 'Ubuntu', sans-serif;
  border: none;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
