<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quotes App</title>
  <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
</head>
<body><br>
  <div class="container">
    <div id="main">
      <h2 id="head">Meet our Quotation <br> application</h2>
    </div>
    <section style="background: rgb(194, 226, 165); color: #fff;">
      <nav class="stroke">
        <ul>
          <li><a href="https://www.brainyquote.com/">Available quotes online</a></li>
          <li><a href="">Upload yours</a></li>
        </ul>
      </nav>
    </section>
    <div>
      <div *ngFor='let quote of someQuotes;let j = index'> 
        <p id={{j}} appHighlight>{{quote.name}}</p>
        <button (click)='toggleDetails(j)' class="btn btn-info">Read more</button>
      </div>
      <app-quote-form-detail ></app-quote-form-detail>
    </div>
    <div>
      <app-quote-form></app-quote-form>
    </div>
  </div>
</body>
</html>
