<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Quotes App</title>
</head>
<body>
  <div class="container">
    <div *ngFor='let quote of someQuotes;let j = index'>
      <p id={{j}} appHighlight>{{Quote.name}}</p>
      <button (click)='toggleDetails(j)' class="btn btn-info">Read more</button>
    </div>
    <div *ngIf='quote.showDescription'>
      <app-quote-form-detail [quote]='quote' (isComplete) = 'deleteQuote($event,j)'></app-quote-form-detail>
    </div>
    <div>
      <app-quote-form addQuote="addNewQuote($event)"></app-quote-form>
    </div>
  </div>
</body>
</html>
