input, textarea {
  font-size: 17px;
  text-align: center;
  padding-bottom: 7px;
  padding-right: 90px;
  padding-left: 90px;
  border: none;
  border-bottom: 1px solid rgb(5, 1, 34);
  background-color: unset;
}


input {
  margin-left: 30%;
} 

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

button {
  background-color: unset;
  padding: 16px;
  padding-right: 90px;
  padding-left: 90px;
  border: none;
  color: rgb(5, 4, 51);
  font-size: 19px;
  margin-left: 37%;
}
form {
  background-image: url(https://atgbcentral.com/data/out/32/4174553-beautiful-background-images.jpg);
}

::placeholder {
  color: white;
}