input, textarea {
  font-size: 17px;
  text-align: center;
  padding-bottom: 7px;
  padding-right: 90px;
  padding-left: 90px;
  border: none;
  border-bottom: 1px solid black;
}

input {
  
} 

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}